<!DOCTYPE html>
<html>
  <header>
    <!-- INSERT GOOGLE ANALYTICS HERE -->

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Marisa N. Cassidy | Fullstack Developer | Portfolio</title>
    <meta charset=“utf-8” />
    <meta name=“description” content=“Fullstack Developer and Project Manager based in Tokyo, Japan”>
    <meta name=“keywords” content=“Marisa Cassidy,developer,Ruby on Rails,RoR,HTML,JavaScript,project manager”>
    <meta name=“author” content=“Marisa Cassidy”>
    <!-- Comment this out when meta tags configured -->
    <%#= display_meta_tags %>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "app" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <%= yield %>
          <%= javascript_include_tag "bundle" %>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>© 2021 Marisa N. Cassidy. All rights reserved.</p>
    </div>
  </footer>
</html>
