.about-card {
  text-align: center;
  padding: 5rem 6rem;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: 5px;
  margin: 50px;
  border: 0;
  font-size: 100%;
  background: #fdfcfa;
  box-shadow: 0 0 15px rgba(0,0,0,0.09);
}
