input[type=text] {
  border: 2px solid $yellow;
  border-radius: 4px;
}

input[type=email] {
  border: 2px solid $yellow;
  border-radius: 4px;
}

textarea {
  border: 2px solid $yellow;
  border-radius: 4px;
}
