.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 0 15px rgba(0,0,0,0.09);
  transition: 0.3s;
  border-radius: 5px;
  margin: 30px;
  background-color: #f8f8f8;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cards-container {
  justify-content: center;
  padding: 15px;
}

img {
  max-width: 100%;
}

@media(max-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.project-image {
  filter: grayscale(100%);
}

.project-image:hover {
  filter: grayscale(0%);
}

h5.role{
  color: $blue;
}