<div class="container">
  <div class="row justify-content-center">
    <div>
      <img src="">
      <h1>Marisa N. Cassidy</h1>
      <h2>Fullstack Developer, Project Manager</h2>
    </div>
    <div class="about-card">
      <div>
        <h1>Testing words here</h1>
      </div>
    </div>
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://materializecss.com/images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  </div>
</div>
