<div class="container">
  <div class="row justify-content-center">
    <div>
      <img src="">
      <h1>Marisa N. Cassidy</h1>
      <h2>Fullstack Developer, Project Manager</h2>
    </div>
    <div class="about-card">
      <div>
        <h1>Testing words here</h1>
      </div>
    </div>
    <div class="card">
    </div>
  </div>
  </div>
</div>
